.game3Container {
    border: 0.1rem solid yellow;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    

   
    .cell {
        color: red;
    }
}

.game3Img{
    
    width: 90rem;
    height: 70rem;
    margin-top: 0rem;
    margin-bottom: -24rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
   .grid{
        z-index: 1;
        width: 33%;
        height: 33%;
        border: 0.1rem solid black;
        font-size: 8rem;
        padding: 5rem;
        opacity: 1;
        text-align: center; 
   }
}




.game3Ans{
    
    width: 90rem;
    height: 69rem;
    border: 0.5rem solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.ansBox{
    width: 29.6rem;
    height: 23rem;
    border: 0.1rem solid blue;
    font-size: 8rem;
    padding: 5rem;
    text-align: center;
}

.drop-hover{
    background-color: green;
}
.invisible{
    opacity: 0;
}