.game4{
    
}
.game4container{

    background: url('../img/background_game4.png');
    background-size: cover;
    margin: 5px;
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 95vw;
}

.sheepsContainer{
      display: flex;
      width: 95%;
      height: 80%;
      display: flex;
      align-items: flex-end;
  }
  .sheepsContainer > img{
    height: 15%;
    width: 15%;    
    margin: 10px;
  }
   .sheepsContainer > img:nth-child(2){
    align-self: center;
  }
    .sheepsContainer > img:nth-child(4){
    align-self: flex-start;
  }
   .sheepsContainer > img:nth-child(5){
    align-self: center;
  }
  .choisesContainer{
      display: flex;
      width: 95%;
      height: 15%;
      z-index: 0;
  }
  
  .choisesContainer > ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
  }
  
  .choisesContainer > ul > li{
    list-style-type: none;
    background: yellow;
    color: blue;
    padding: 15px 20px;
    border-radius: 50%;
    border: 3px solid blue;
  }